{% extends "login/base.html" %}
{% load static %}
{% block content %}
<p class="text-primary text-center h3"> <img src="{% static 'wjh.png' %}" alt="Mylogo" width="50" height="50" class="rounded-circle m-1">iTiKe</p>
<div class="line"></div> 
<p class="text-danger text-center"><i><b> iTiKe | Online Transport Ticketing<b></i></p>
 <div class="line"></div>       
<p class="text-dark"> iTiKe | Online Transport Ticketing is a platform that provides portal for users to access  Online Transport ticketing,News, Advert Business & Tenders, and Chat. We believe in  connecting people to real business, best products and services.
</p>
<div class="line"></div>
<p class="text-info"> ITIKE | Online Transport Ticketing ni urubuga rutanga portal ku abantu kugirango bagure amatike ya Bus na Taxi, Guhaha hakoreshejwe mudasobwa, Kwamamaza Ubucuruzi & Amasoko, hamwe no Kuganira hakoreshejwe ikoranabuhanga. Twizera guhuza abantu na business zizewe, ibicuruzwa na serivisi nziza.</p>
<div class="line"></div>
<p>
        

{% endblock content %}
