{% extends 'login/base.html' %}
{% load crispy_forms_tags %}

{% block title %}Change Password Page{% endblock title %}

{% block content %} 
<p>
<h4 class="display">Change Password</h4></p>
<div class="line"></div>
<p>
    <form method="post">
        {% csrf_token %}
        {{ form | crispy }}
        <button type="submit" class="btn btn-outline-danger btn-block"><i class="icon-lock4"></i>Submit</button>
    </form>
</p>
<div class="line"></div>
    <p >
    	<a href="{% url 'profile' %}">Click Here to Cancel</a>
    </p>
{% endblock content %}