{% extends 'login/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
 <p>
    <text class="text-primary"><i class="fab fa-facebook-square" aria-hidden="true"></i>
             <a href="{% url 'social:begin' 'facebook' %}">Login with Facebook
             </a></text></p>

<p>
    <text class="text-danger"><i class="fab fa-twitter-square" aria-hidden="true"></i>
             <a href="#">Login with twitter
             </a></text>
</p>
<p>
         <div class="line"></div>

               <form method="POST">
               {% csrf_token %}
                 {{form | crispy }}
                <button class="btn btn-outline-danger" value="submit">Sign In</button>
                </form>
            </p>
<div class="line"></div>
<p>       
<form role="form">
<small class="text-danger m-3 p-3">New User? </small><i class="fas fa-user"> </i> <a href="{% url 'register' %}">Sign Up Here</a>
</form>
</p>
<div class="line"></div>
<p>
<small class="text-danger m-3 p-3">Forgot Your Password? </small><a href="{% url 'password-reset' %}">Click Here to Reset Password</a>
</p>
{% endblock content %}