{% extends 'login/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<p><h3>Reset Password </h3></p>
<div class="line"></div>
<p>
<form method="POST">
{% csrf_token %}
<fieldset class="border -p3">
<legend class="border-bottom mb-4">Enter Your Email To Reset Password</legend>
{{form | crispy }}
</fieldset>
<fieldset class="border -p3">
<button class="btn btn-primary" value="submit">Request Password Reset</button>
</fieldset>
</form>
</p>
<div class="line"></div>
<p>
<small class="text-muted">Or </small><a href="{% url 'login' %}">Click here To Login</a>
</p>
{% endblock content %}